


.coopilotTabImporterInterface {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);
    position: absolute;
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    visibility: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
}



.coopilotTabImporterInterfaceDropZone {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);
    border: none;
    text-align: left;
    text-wrap: none;
    white-space: pre;
    padding: 0;
    font-family: monospace, monospace;

    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    scroll-behavior: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 100px;
    gap: 0px 0px;
    grid-template-areas:
    "header"
    "content"
    "footer";

}

.coopilotTabImporterInterfacePreviewDiv {
    color: #ffffff;
    background: rgba(20, 75, 115, 0.8);

    text-align: left;
    text-wrap: none;

    padding: 5px;
    font-family: monospace, monospace;


    overflow: auto;
    scroll-behavior: auto;

    grid-area: content;
}
.coopilotTabImporterInterfacePreviewDropInfo{
    align-content: center;
    text-align: center;
    display: inline-block;
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -100%);


}
.coopilotTabImporterInterfacePreviewDivImportImage{
    position: absolute;

    text-align: center;
    display: block;
    padding: 0;
    margin: 0;
    width: 100px;
    left: 50%;
    transform: translate(-50%, -50%);


}
.coopilotTabImporterInterfaceOutputDiv {
    color: #ffffff;
    background: rgba(97, 91, 178, 0.8);

    text-align: left;
    text-wrap: normal;
    white-space: normal;
    padding: 5px;
    font-family: monospace, monospace;

    overflow: auto;
    overflow-wrap: anywhere;
    scroll-behavior: auto;
    max-width: 100%;
    word-wrap: break-word;
    grid-area: footer;
}

.coopilotTabImporterInterfaceOutputPreviewDiv {
    color: #ffffff;
    background: none;

    text-align: left;
    text-wrap: normal;
    white-space: normal;
    padding: 5px;
    font-family: monospace, monospace;


    overflow: auto;
    overflow-wrap: anywhere;
    scroll-behavior: auto;
    max-width: 100%;
    word-wrap: break-word;
    grid-area: footer;
}


.coopilotTabImporterInterfaceTableRowIdentityCell {
    background: rgba(0, 0, 0, 0.44);
    color: white;
}

.coopilotTabImporterInterfaceFileInfoDiv {
    position:relative;
    display: inline-block;
    background: rgba(0, 0, 0, 0.44);
    color: white;

    grid-area: header;
}
.coopilotTabImporterInterfaceTableRow {

    background: black;
    color: white;
    grid-area: header;
}

